<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/houseship/" style="font-size: 18px">
                    <div class="sb-nav-link-icon">
                        <i class="fa-brands fa-squarespace"></i>
                    </div>
                    HouseShip 首頁
                </a>
                <div class="sb-sidenav-menu-heading" style="font-size: 16px">後台管理系統</div>
                <a class="nav-link home" href="#" style="font-size: 18px">
                    <div class="sb-nav-link-icon">
                        <i class="fa-brands fa-squarespace"></i>
                    </div>
                    後台管理首頁
                </a>
                <a class="nav-link member" href="#" style="font-size: 18px">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-user-gear"></i>
                    </div>
                    會員管理
                </a>
                <a class="nav-link house" href="#" style="font-size: 18px">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    房源管理
                </a>
                <a class="nav-link order" href="/houseship/admin/order" style="font-size: 18px">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    訂單管理
                </a>
                <a class="nav-link coupon" href="#" style="font-size: 18px">
                    <div class="sb-nav-link-icon">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                    優惠券管理
                </a>
                <a class="nav-link forum" href="#" style="font-size: 18px">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-book-open"></i>
                    </div>
                    討論版管理
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">登入身分:</div>
            <span th:text="${session.member.firstname} + '&nbsp;' + ${session.member.lastname}"></span>
        </div>
    </nav>
</div>
</body>
</html>