q<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HouseShip Home">
    <meta name="keywords" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HouseShip.com</title>
	<link rel="icon" href="/houseship/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/houseship/css/style-ui-link.css">
    <!-- 另一個套版,非sona -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- 另一個套版,非sona -->
    <link rel="stylesheet" href="/houseship/css/signIn.css">
    
    
</head>

<body>
    <!-- Page Preloder -->
	<div th:replace="/ui/page-preloder.html"></div> 

    <!-- Offcanvas Menu Section Begin -->
    <div th:replace="/ui/offcanvas-menu-section.html"></div>

    <!-- Header Section Begin -->
   <header th:replace="/ui/header-section.html"></header>


    <!-- explore Section Begin -->
    <section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(/houseship/images/forget_pwd.png);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">重置密碼</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span ></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span ></span></a>
									</p>
								</div>
			      	</div>
					<form action="/houseship/ui/member/resetpassword.controller" id="form" class="signin-form" method="post">
						 <input type="hidden" name="token" th:value="${token}" />
			      		<div class="form-group mb-3">
			      			<label style="font-size: 16px" class="label" for="password">新密碼</label>
			      			<input type="password" class="form-control" placeholder="請輸入新密碼" name="password" id="password" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label style="font-size: 16px" class="label" for="password">新密碼確認</label>
		              <input type="password" class="form-control" placeholder="請再次輸入密碼" name="hashed_pwd" required oninput="checkPasswordMatch(this);">
		            </div>
		            
		            <div class="form-group">
		            	<button type="button" id="resetPassword" class="form-control btn btn-primary rounded submit px-3">送出</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	
					</div>
									
		            </div>
		          </form>
		       
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

    <!-- Footer Section Begin -->
     <footer th:replace="/ui/footer-section.html"></footer>



    <!-- Js Plugins -->
    <div th:replace="/ui/js.html"></div>
    <script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" >
    $(document).on('click','#resetPassword',function(){

    		
        	$.ajax({
                type : "POST",
                url : '/houseship/ui/member/resetpassword.controller',
//                 contentType : 'application/json',
                data :$('#form').serialize(),
                success : function(data) {
                    
                	if(data =="Y"){
                		swal.fire({
        		    	 	title:"密碼修改成功",
        		    	 	text:"您的密碼已成功修改",
        		    	 	type:"success"
                		}).then(function() {
                		    window.location = "/houseship/";
                		});
					}else if(data =="N"){
						swal.fire({
	    		    	 	title:"密碼修改失敗",
	    		    	 	text:"系統發生錯誤,請與本公司客服聯繫",
	    		    	 	type:"error"
						}).then(function() {
						    window.location = "/houseship/";
						});
					}
                	
                }
            });
    	});
	</script>


</body>

</html>