<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account SideBar</title>
    <style>

    </style>
</head>
<body>
<div class="card accountOption">
    <div class="card-header">
        <h6>會員中心</h6>
    </div>
    <div class="card-body menu-item">
        <div class="nav-menu" style="text-align: left">
            <nav class="mainmenu">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a href="/houseship/member/myinfo" class="nav-link account">帳號管理</a></li>
                    <li class="nav-item"><a href="/houseship/account/myorder/1" class="nav-link order">我的訂單</a></li>
                    <li class="nav-item"><a href="/houseship/account/forum/My/myforum" class="nav-link forum">討論區文章</a>
                    </li>
                    <li class="nav-item">
                        <a href="/houseship/account/host/ownedhouse" class="nav-link house">房東專區</a>
                        <ul class="dropdown">
                            <li><a class="dropdown-item" href="/houseship/account/host/ownedhouse" style="font-size: 18px">房屋管理</a></li>
                            <li><a class="dropdown-item" href="/houseship/account/host/order/1" style="font-size: 18px">檢視訂單</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>