<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Offcanvas Menu Section</title>
</head>

<body>
    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <!-- <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div> -->
        <div class="header-configure-area">
            <a href="#" class="bk-btn"><i class="fa fa-lg fa-door"></i> 登出</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li><a href="#">會員</a>
                    <ul class="dropdown">
                        <li><a href="/houseship/member/myinfo">帳號管理</a></li>
                        <li><a href="/houseship/account/myorder/1">我的訂單</a></li>
                        <li><a href="/houseship/logout">登出</a></li>
                    </ul>
                </li>
                <li class="active"><a href="./index.html">住宿</a></li>
                <li><a href="#">討論區</a></li>
                <li><a href="/houseship/account/host/ownedhouse">房東專區</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->
</body>

</html>