<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="HouseShip Home">
<meta name="keywords" content="#">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>討論版</title>
<link rel="stylesheet" href="/houseship/css/style-ui-link.css">
<body>
	<!-- Page Preloder -->
	<div th:replace="/ui/page-preloder.html"></div>

	<!-- Offcanvas Menu Section Begin -->
	<div th:replace="/ui/offcanvas-menu-section.html"></div>

	<!-- Header Section Begin -->
	<header th:replace="/ui/header-section.html"></header>

	<!--表單內容可以從這開始 -->
	<!-- Breadcrumb Section Begin -->
	<div class="breadcrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<h2>討論區</h2>
						<div class="bt-option">
							<a href="/houseship/">首頁</a> <span>討論總攬</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 	<!-- Breadcrumb Section End -->
	<!-- Blog Details Hero Section Begin -->

	<section class="blog-details-hero set-bg" data-setbg="/houseship/images/forum/96.png">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="bd-hero-text">
						<span th:text="*{myforumdetail.theme}"></span>
					</div>
					<h2 th:text="*{myforumdetail.title}"></h2>
					<ul>
						<li class="b-time"><i
							th:text="${#temporals.format(myforumdetail.postTime,'yyyy-MM-dd HH:mm')}"></i></li>
						<li><i th:text="*{myforumdetail.account}"></i></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Details Section Begin -->
	<section class="blog-details-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="blog-details-text">
						<div class="bd-title">
							<div class="bd-hero-text">
								<p th:text="*{myforumdetail.content}"></p>
							</div>


							</div>
						</div>
					</div>
				</div>
			<div class="bd-more-text">
				<div class="divInput">
					<a th:href="@{/forum/My/myforum}" class="btn btn-primary"
						role="button">返回</a>
				</div>
			</div>
		</div>
	</section>
	<!-- 	  main end     -->
	<!-- 	Footer Section Begin -->
	<footer th:replace="/ui/footer-section.html"></footer>
	<!-- Js Plugins -->
	<div th:replace="/ui/js.html"></div>
	<!-- All JS Custom Plugins Link Here here -->

</body>

</html>