<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>停用會員帳號</title>
	<link rel="icon" href="/houseship/images/favicon.png" type="image/png">
		<link type="text/css" href="/houseship/css/style-admin-link.css" rel="stylesheet" />
		<style type="text/css">
			.div1{
				border:2px solid #0B1A4A;
				border-radius:20px;
				width:600px;
				margin: 50px auto;
			}
			.head2{
				margin: 20px auto;
				text-align: center;
			}
			.divForm{
				width: 500px;
				margin: 20px auto;
				text-align: left;
			}
			.divInput{
				margin: 10px auto;
				text-align: center;
			}input{
				width:250px;
			}td,th{
				width:250px
			}.btn{
				width:100px;
			}
		</style>
</head>
<body>
	 <header th:replace="/admin/header.html"></header>
	<div class="div1">
	
	<h2 class="head2">停用會員帳號</h2>
	
	<form action="#" th:action="@{/admin/member/deletemember.controller/{memberaccount}(memberaccount=${account})}" method="post" th:object="${member}">

	
	<div class="divForm">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>欄位名稱</th>
			<th>會員資料</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><label for="account">會員:</label></td>
			<td><input id="account" size="30" readonly th:field="*{account}" /></td>
		</tr>
		<tr>
			<td><label for="hashed_pwd">密碼:</label></td>
			<td><input id="hashed_pwd" size="30" readonly th:field="*{hashed_pwd}" /></td>
		</tr>
			<td><label for="firstname">姓:</label></td>
			<td><input id="firstname" size="30"  readonly th:field="*{firstname}" /></td>
		</tr>
		<tr>
			<td><label for="lastname">名:</label></td>
			<td><input id="lastname" size="30" readonly th:field="*{lastname}"/></td>
		</tr>
		<tr>
			<td><label for="birthday">生日:</label></td>
			<td><input type="text" id="birthday" readonly size="30" th:field="*{birthday}"/></td>
		</tr>

		<tr>
			<td><label for="email">e-mail</label></td>
			<td><input id="email" size="30"  th:field="*{email}" readonly/></td>
		</tr>
		<tr>
			<td><label for="m_address">地址:</label></td>
			<td><input id="address" size="30" readonly th:field="*{m_address}"/></td>
		</tr>
		<tr>
			<td><label for="phone">聯絡電話:</label></td>
			<td><input id="phone" size="30" th:field="*{phone}" readonly /></td>
		</tr>
		<tr>
			<td><label for="mempic">頭像:</label></td>
			<td><input id="mempic" size="30" readonly th:field="*{mempic}"/></td>
		</tr>	
		<tr style="display:none">
			<td><label for="roles">權限:</label></td>
			 <!-- role是每一列的資料物件 -->
			<td id="auth_td">
				<th:block th:each="role:${roleList}">
					<input type="checkbox" th:name="roles" th:field="*{roles}"  th:text="'&nbsp'+${role.name}" th:value="${role.id}"  style="width:20px;height:10px">
				</th:block>
<!-- 					th:text="'&nbsp'+${role.name}" -->
			</td>
		</tr> 
		</tbody>		
	</table>
	<div class="divInput">
			<input type="submit" name="delete_confirm" class="btn btn-primary" value="停權">
	</div>
	</div>
	</form>
	</div>
	<div class="divInput">
			<a href="/houseship/admin/member"><input type="submit" class="btn btn-secondary" value="取消"></a>
	</div>
	<footer th:replace="/admin/footer.html"></footer>
	<div th:replace="/admin/js.html"></div>
	<script>
		$(function() {
			 
			 $('input[name="birthday"]').daterangepicker({
			      
			      singleDatePicker: true,
			      locale: {
			          format: 'YYYY-MM-DD'
			        }
			  });
		});


</script> 
	
</body>
</html>