<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>房東專區</title>

    <!--    <link rel="stylesheet" href="/houseship/css/style-ui-link-for-house.css">-->
    <!--    <link rel="stylesheet" href="/houseship/css/style-ui-search.css">-->
    <!--    <link rel="stylesheet" href="/houseship/css/style-ui-booking.css">-->

    <link rel="icon" href="/houseship/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/houseship/css/style-ui-link.css">
    <link rel="stylesheet" href="/houseship/css/account/style-ui-account.css" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css">

    <style>
        .dataTable-table > thead > tr > th {
            text-align: center;
            font-size: 18px;
        }

        .dataTable-table tbody tr td {
            text-align: center;
            font-size: 16px;
        }

        .order-option {
            margin-bottom: 10px;
        }

        .order-option button, .order-option div, .order-option a {
            margin-right: 20px;
            font-size: 16px;
        }

        .table-name {
            font-size: 18px;
        }

        #downloadDropdown {
            color: black;
            border: 1px solid black;
            margin-right: 0;
        }
    </style>

</head>
<body>
<header th:replace="/ui/header-section.html"></header>
<div th:replace="/ui/page-preloder.html"></div>
<div th:replace="/ui/offcanvas-menu-section.html"></div>

<section class="section">
    <div class="section-header">
        <div class="section-header-back">
            <a href="javascript:history.back()" class="btn btn-icon"><i class="arrow_carrot-left"></i></a>
        </div>
        <h1>房東專區</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="/houseship/">首頁</a></div>
            <div class="breadcrumb-item active"><a href="/houseship/account">會員中心</a></div>
            <div class="breadcrumb-item">房東專區</div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-md-2">
                <div th:replace="/ui/account/account-sidebar.html"></div>
            </div>
            <div class="col-md-10">
                <div class="container mainContainer">
                    <div class="card mb-4">
                        <div class="card-header table-name">
                            房源總攬
                        </div>
                        <div class="card-body">
                            <!-- 主要內容放這 begin -->
                            <div>
                                <div class="order-option">
                                    <a href="#" th:href="@{/account/host/addnewhouse}" style="margin-left: 1px; display: inline">
                                        <input style="height: 38px; margin-left: 10px" class="btn-primary" type="submit" name="new" value="新增">
                                    </a>
                                    <div class="dropdown" style="display: inline; float:right; margin-right: 0; margin-right: 10px">
                                        <a class="nav-link dropdown-toggle" id="downloadDropdown" href="#"
                                           role="button" data-bs-toggle="dropdown" aria-expanded="false">下載選項
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="downloadDropdown">
                                            <li><a class="dropdown-item csv" href="#">CSV 檔案</a></li>
                                            <li><a class="dropdown-item json" href="#">JSON 檔案</a></li>
                                            <li><a class="dropdown-item sql" href="#">SQL 檔案</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table id="datatablesSimple">
                                    <thead>
                                    <tr>
                                        <th>房屋編號</th>
                                        <th>目前狀態</th>
                                        <th>刊登時間</th>
                                        <th>最後編輯時間</th>
                                        <th>房屋名稱</th>
                                        <!--                            <th>服務編號</th>-->
                                        <!--                            <th>規章編號</th>-->
                                        <!--                            <th>封面照片</th>-->
                                        <th>功能</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="house : ${ownedList}">
                                        <td id="house-id" th:text="*{house.houseNo}">房屋編號</td>
                                        <td th:if="*{house.status == true}">上架中</td>
                                        <td th:unless="*{house.status == true}">下架中</td>
                                        <td th:text="*{#dates.format(house.createdDate, 'yyyy/MM/dd')}">刊登時間</td>
                                        <td th:text="*{#dates.format(house.lastModifiedDate, 'yyyy/MM/dd')}">最後編輯時間</td>
                                        <td style="max-width: 250px" th:text="*{house.h_title}">房屋名稱</td>
                                        <!--                            <td th:text="*{house.houseOffers.offersNo}">服務編號</td>-->
                                        <!--                            <td th:text="*{house.houseRules.rulesNo}">規章編號</td>-->
                                        <!--                            <td>-->
                                        <!--                                <img src="/houseship/images/house/room-details.jpg" th:src="'/houseship/images/house/' + *{house.housePhotos[0].photoPath}" alt="house image">-->
                                        <!--                            </td>-->
                                        <td class="text-center">
                                            <a th:if="*{house.status == true}" href="#" th:href="@{/housedetails/{houseNo}(houseNo=*{house.houseNo})}" class="btn btn-primary" role="button">詳細</a>
                                            <a style="margin: 0px 20px 0px 20px" th:if="*{house.status == true}" href="#" th:href="@{/account/host/updatehouse/{houseNo}(houseNo=*{house.houseNo})}" class="btn btn-warning" role="button">修改</a>
                                            <button th:if="*{house.status == true}" id="disable-house" onclick="disableHouse()" type="button" class="btn btn-danger">下架房屋</button>
                                            <button th:unless="*{house.status == true}" id="enable-house" onclick="enableHouse()" type="button" class="btn btn-success">重新上架</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- 主要內容放這 end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="/ui/footer-section.html"></footer>

<div th:replace="/ui/js.html"></div>

<!-- datatables -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
        crossorigin="anonymous"></script>

<!-- my script -->
<script type="text/javascript" src="/houseship/js/datatables-simple-demo.js"></script>

<!-- Customized JS -->
<script type="application/javascript" src="/houseship/js/house/enable-disable-house.js"></script>

<script>
    $(".house").addClass("active");
</script>

</body>
</html>